services:
  app:
    build:
      dockerfile: .container/Dockerfile
      context: .
    image: smart-power:1.0.0
    devices:
      - /dev/ttyUSB0
#      - /dev/cu.usbserial-DK0CBKBW
    ports:
      - "8080:8080"
    environment:
      DEVICE_PATH: /dev/ttyUSB0
#      DEVICE_PATH: /dev/cu.usbserial-DK0CBKBW
      DEVICE_PASSWORD: XXXX
      DEVICE_RBID: XXXX
      POWER_SOURCE_RATED_COUNT_A: 60
      POWER_SOURCE_WIRE_COUNT: 3
      LOG_LEVEL_SK: debug
      LOG_LEVEL_POWER: debug
      TZ: Asia/Tokyo
