app:
  device:
    path: ${DEVICE_PATH}
    password: ${DEVICE_PASSWORD}
    rbid: ${DEVICE_RBID}
  powerSource:
    ratedCurrentA: ${POWER_SOURCE_RATED_COUNT_A:60}
    wireCount: ${POWER_SOURCE_WIRE_COUNT:3}
spring:
  graphql:
    websocket:
      path: /graphql
    http:
      path: /graphql
server:
  port: ${PORT:8080}
logging:
  level:
    com.xxuz.piclane.smartpower.sk: ${LOG_LEVEL_SK:info}
    com.xxuz.piclane.smartpower.power: ${LOG_LEVEL_POWER:info}
    org.apache.coyote.http11: warn
management:
  endpoints:
    web:
      exposure:
        include: health, prometheus
