@font-face {
    font-family: 'DSEG7Modern-BoldItalic';
    src: url('/fonts/DSEG7Modern-BoldItalic.woff') format('woff'),
         url('/fonts/DSEG7Modern-BoldItalic.woff2') format('woff2'),
         url('/fonts/DSEG7Modern-BoldItalic.ttf') format('truetype');
}

.gauge_container {
    display: flex;
    justify-content: center;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    width: 400px;
    height: 400px;
}

.numeric_meters {
    position: absolute;
    top: 50%;
    width: 250px;
    transform: translateY(-50%);
}

.numeric_meter {
    .title {
        margin-bottom: 10px;
        font-size: 20px;
        font-weight: 100;
        font-family: Roboto, sans-serif;
    }

    .value {
        font-family: 'DSEG7Modern-BoldItalic', sans-serif;
        font-size: 60px;
    }

    .unit {
        width: 0;
        overflow: visible;
        display: inline-block;
        transform: translateX(5px);
        font-size: 20px;
        font-family: sans-serif;
        font-weight: 100;
    }

    &.mini {
        .title {
            font-size: 15px;
        }
        .value {
            font-size: 30px;
        }

        .unit {
            font-size: 10px;
        }
    }
}


