.processing-led {
    display: inline-block;
    width: 16px;
    height: 16px;
    border-radius: 8px;
    background-color: #3eff51;
    box-shadow: inset -1px -1px 2px 2px rgb(0 0 0 / 5%), 0 0 10px 5px #89ffae;
}

.processing-led.active {
}

.processing-led.inactive {
    transition-delay: 0ms;
    transition-property: background-color, box-shadow;
    transition-duration: 1000ms;
    transition-timing-function: ease-in;
    background-color: #0edb23;
    box-shadow: inset -1px -1px 2px 2px rgb(0 0 0 / 50%);
}

.elapsed-time {
    position: absolute;
    top: 37px;
    right: 15px;
    transform: translateX(25%);
    text-align: center;
    font-family: DSEG7Modern-BoldItalic, sans-serif;
    font-size: 12px;
}

.elapsed-time:after {
    content: 's';
    font-family: sans-serif;
    font-size: 9px;
    margin-left: 2px;
}
